.healthy-option{
    background: var(--background);
    padding: 50px 0;
}

.ho-heading{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.ho-heading-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.ho-heading-left img{
    border-radius: 10px;
}

.ho-heading-right{
    display: flex;
    align-items: center;
    flex: 1;
}

.ho-heading-right-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 110px;
}

.ho-price-wrapper{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
