.cart-page {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 25px;
    right: 0;
    bottom: 0;
    width: 500px;
    z-index: 11;
    background: #fff;
}

.cart-heading {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: solid 1px var(--light_border);
}

.items-qnt {
    font-weight: bold;
}

.close-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.close-cart span{
    font-size: .75rem;
    font-weight: bold;
}

.close-icon{
    color: #fff;
    background: #000;
    border-radius: 50%;
    transform: scale(.8);
}

.items-in-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1;
    overflow: auto;
    padding: 20px;
}

.item-in-cart {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.item-in-cart-img {
    height: 96px;
    width: 96px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-in-cart-img img{
    width: 130px;
    height: 100%;
}


.item-in-cart-field{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-in-cart-top-line {
    font-size: 1.1rem;
}

.item-in-cart-top-line h1{
    font-size: 1rem;
}

.item-in-cart-top-line span{
    font-size: .8rem;
    color: gray;
}

.item-in-cart-bottom-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.item-in-cart-buttons{
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-in-cart-buttons .add-btn{
    border: solid 2px var(--main_color);
    color: var(--main_color);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.item-in-cart-buttons .add-btn:hover{
    cursor: pointer;
    background: var(--main_color);
    color: #fff;
}

.item-in-cart-buttons .remove-btn{
    border: solid 2px var(--light_border);
    color: var(--main_color);
    background: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    transition: .2s;
}

.item-in-cart-buttons .remove-btn:hover{
    cursor: pointer;
    color: var(--main_color);
    border: solid 2px var(--main_color);
}

.order-details{
    /* border: solid 1px blue; */
    height: calc(40vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 40px 0 40px;
    box-shadow: 10px 5px 5px 5px gray;
}

.order-detail-field{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px lightgray;
}

.subtotal, .delivery-fee, .total {
    font-weight: bold;
}

.payment-btn{
    border: solid 2px var(--main_color);
    color: var(--main_color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    transition: .2s;
    font-weight: bold;
}

.payment-btn:hover{
    cursor: pointer;
    background: var(--main_color);
    color: #fff;
}

.empty-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.empty-box span{
    font-weight: bolder;
}

@media (max-width:900px) {

    .cart-page {
        top: 20px;
        width: 400px;
    }
    
    .cart-heading {
        height: 60px;
        padding: 0 20px;
    }
}

@media (max-width:480px) {

    .cart-page {
        width: 100vw;
    }

    .item-in-cart {
        gap: 10px;
    }

    .item-in-cart-img{
        border-radius: 5px;
    }

    .item-in-cart-top-line h1{
        font-size: .8rem;
    }
    
    .item-in-cart-top-line span{
        font-size: .7rem;
    }
    
    .item-in-cart-bottom-line span{
        font-size: .8rem;
    }
}