.snacks {
    background: linear-gradient(var(--background), #fff);
    padding: 20px 0;
}

.snack-title {
    max-width: 1200px;
    width: 90vw;
    margin: auto;
    padding: 20px 0;

}

.snacks-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 1200px;
    width: 90vw;
    margin: auto;
}

.snack-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.snack-wrapper .card-bottom-line {
    flex-direction: column;
    padding: 20px 10px 10px 10px;
}


@media (max-width:1500px) {}

@media (max-width:1200px) {}

@media (max-width:900px) {

    .snack-title {
        font-size: 1rem;
        padding: 10px 0;
    }

    .snacks-wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        width: 95vw;
    }
}

@media (max-width:650px) {

    .snacks {
        padding: 10px 0;
    }

    .snacks-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

@media (max-width:480px) {}