.orders{
    max-width: 1200px;
    width: 90vw;
    margin: auto;
    padding: 20px;
}

.orders h1{
    text-align: center;
    margin: 50px;
}

.orders-wrapper{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.order{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
    border: solid 1px lightgray;
    padding: 10px;
}

.order a{
    color: var(--main_color);
    font-size: .7rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.order a:hover{
    text-decoration: underline;
}

@media (max-width:650px) {

    .order{
        gap: 3px;
        width: 200px;
        padding: 5px;
    }

    .orders h1{
        font-size: 1.2rem;
    }

    .order-row {
        font-size: .8rem;
    }

    .order a{
        font-size: .5rem;
    }
}
