.specials {
    width: 1200px;
    margin: auto;
    /* border: solid 1px red; */
}

.specials-title {
    padding: 20px 10px;
}

.specials-wrapper {
    display: flex;
    gap: 20px;
    /* border: solid 1px blue; */
}

.special-wrapper {
    /* border: solid 1px green; */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.special-wrapper:hover {
    cursor: pointer;
}

.special-wrapper:hover .special-title {
    color: var(--main_color);
    text-decoration: underline;
}

.special-image-wrapper {
    border-radius: 10px;
    overflow: hidden;
}

.special-image-wrapper:hover .special-img {
    transform: scale(1.1);
}

.special-img {
    transition: .3s ease;
    width: 100%;
    height: 100%;
}

@media (max-width:1500px) {}

@media (max-width:1200px) {

    .specials {
        width: 90vw;
    }

    .specials-wrapper {
        gap: 10px;
    }
}

@media (max-width:900px) {

    .specials {
        width: 95vw;
    }

    .specials-wrapper {
        gap: 5px;
    }

    .specials-title {
        padding: 10px 5px;
        font-size: 1rem;
    }

    .special-image-wrapper {
        border-radius: 5px;
    }

    .special-title {
        font-size: .7rem;
    }
}