.specials{
    width: 1200px;
    margin: auto;
}

.specials-title{
    padding: 20px 10px;
}

.specials-wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
    /* border: solid 1px red; */
}

.special-wrapper {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.special-wrapper:hover {
    cursor: pointer;
}

.special-wrapper:hover .special-title {
    color: var(--main_color);
    text-decoration: underline;
}

.special-image-wrapper {
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    /* border: solid 1px var(--main_color); */
}

.special-image-wrapper:hover .special-img {
    transform: scale(1.1);
}

.special-img {
    transition: .3s ease;
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px) {

    .specials {
        gap: 30px;
    }

    .special-image-wrapper {
        width: 200px;
    }
}

@media (max-width: 900px) {

    .specials {
        gap: 10px;
    }

    .special-image-wrapper {
        width: 150px;
    }
}

@media (max-width: 650px) {

    .specials {
        justify-content: start;
        overflow: auto;
    }
}

@media (max-width: 450px) {

    .special-image-wrapper {
        width: 100px;
    }
}