.sign{
    height: calc(100vh - 100px);
    display: flex;
}

.sign-left{
    /* border: solid 1px red; */
    flex: 1;
    margin: auto;
}

.sign-wrapper{
    width: 380px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    /* border: solid 1px red; */
}

.sign-wrapper h1{
    font-size: 1.2rem;
    width: 100%;
}

.sign-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.inputs-wrapper input {
    border: none;
    border-bottom: solid 2px var(--light_border);
    outline: none;
    padding: 10px;
}

.inputs-wrapper input:hover {
    border-bottom: solid 2px gray;
}

.inputs-wrapper input:focus {
    border-bottom: solid 2px gray;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.buttons-wrapper button{
    width: 100%;
    padding: 15px;
    font-weight: bold;
}

.sign-btn {
    background: var(--light_border);
    border: solid 2px var(--light_border);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

.sign-btn:hover {
    background: lightgray;
}

.existing-account-btn, .create-account-btn {
    border: solid 2px var(--main_color);
    border-radius: 5px;
    cursor: pointer;
    color: var(--main_color);
}

.existing-account-btn:hover, .create-account-btn:hover {
    background: var(--main_color);
    color: #fff;
}

.sign-wrapper form a{
    text-align: center;
    color: var(--main_color);
    cursor: pointer;
}

.sign-wrapper form a:hover{
    text-decoration: underline;
}

.sign-right{
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-right img{
    width: 100%;
}
