.topbar-container {
    position: relative;
    margin-bottom: 100px;
}

.offer-highlight {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: #fff;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: var(--main_color);
}

.navbar {
    position: fixed;
    top: 25px;
    left: 0;
    right: 0;
    height: 75px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-bottom: solid 1px var(--light_border);
}

.navbar-side {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 0 50px;
}

.nav-left {
    justify-content: start;
}

.navbar-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 10px;
    font-size: .8rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.navbar-link:hover {
    position: relative;
    background: var(--background);
}

.navbar-link:hover .dropdown-box {
    opacity: 1;
    visibility: visible;
}

.log-in-icon-wrapper:hover {
    background: var(--background);
}

.log-in-icon-wrapper:hover span {
    text-decoration: underline;
}

.log-in-icon-wrapper:hover .dropdown-box {
    opacity: 1;
    visibility: visible;
}

.nav-right {
    justify-content: end;
}

.cart {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart span {
    font-size: .8rem;
}

.cart:hover {
    background: var(--background);
}

@media (max-width:1500px) {}

@media (max-width:1200px) {}

@media (max-width:900px) {

    .topbar-container {
        margin-bottom: 100px;
    }

    .offer-highlight {
        height: 20px;
        font-size: .8rem;
    }

    .navbar {
        font-size: .8rem;
        top: 20px;
        height: 60px;
    }

    .navbar-side {
        gap: 20px;
        padding: 0 30px;
    }

    .cart {
        transform: scale(.8);
    }
}

@media (max-width:650px) {

    .navbar-side {
        gap: 10px;
        padding: 0 10px;
    }

    .navbar-link .navbar-option {
        display: none;
    }
}

@media (max-width:480px) {}