.completion {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.back-home {
    position: absolute;
    text-align: center;
    color: green;
    width: 100%;
    top: 80px;
    font-weight: bold;
    cursor: pointer;
}

.back-home:hover {
    text-decoration: underline;
}

.thank-you {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-size: 2rem;
}