:root{
  --main_color: #3C99DC;
  --light_border: #e4e3e3;
  --background: #f0ece1;

  /* HOVER */
  --darker_main_color: #246a9c;

  /* TEXT */
  --text_color: #000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: var(--text_color);
  text-decoration: none;
}

.primary-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--main_color);
  border-radius: 5px;
  color: var(--main_color);
  padding: 12px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  background: #fff;
}

.primary-btn:hover{
  background: var(--main_color);
  color: #fff;
}

.disabled-btn {
  background: white;
  color: lightgray;
  border: solid 2px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
  margin-top: 20px;
}