:root{
  --main_color: #3C99DC;
  --light_border: #e4e3e3;
  --background: #f0ece1;

  /* HOVER */
  --darker_main_color: #246a9c;

  /* TEXT */
  --text_color: #000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: var(--text_color);
  text-decoration: none;
}