.banner {
    padding: 50px 0;
}

.banner-wrapper {
    width: 1200px;
    margin: auto;
}

.banner-wrapper img {
    width: 100%;
}

@media (max-width:1200px) {

    .banner-wrapper {
        width: 90vw;
    }
}

@media (max-width:900px) {

    .banner {
        padding: 20px 0;
    }

    .banner-wrapper {
        width: 95vw;
    }
}

@media (max-width:650px) {

    .banner {
        padding: 0;
    }
}

@media (max-width:480px) {}