.topbar {
    background: #b12252;
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.topbar-content {
    display: flex;
    flex: 1;
    justify-content: center;
    color: #fff;
}

.topbar-content .logo{
    transform: scale(.7);
}

.payment-items-list {
    margin: 120px auto 50px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1000px;
    width: 90vw;
}

.payment-items-list p {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.payment-items-list-wrapper {
    border: solid 1px var(--light_border);
    border-radius: 5px;
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow: auto;
}

.payment-item {
    border: solid 1px lightgray;
    display: flex;
    flex-direction: column;
    min-width: 180px;
    width: 180px;
    border-radius: 5px;
}

.payment-item img {
    border: solid 1px var(--light_border);
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.payment-item-fields {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    font-size: .8rem;
}

.payment-item-field {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.payment-item-field {
    text-align: center;
}

.payment-wrapper {
    border: solid 1px var(--light_border);
    border-radius: 10px;
    max-width: 600px;
    width: 90vw;
    margin: auto;
    padding: 20px;
}

.payment-wrapper h1 {
    text-align: center;
    padding: 20px;
}

@media (max-width:900px) {

    .payment-items-list {
        width: 95vw;
    }

    .payment-wrapper {
        width: 95vw;
        padding: 20px;
    }
}

@media (max-width:650px) {

    .topbar-content {
        font-size: .7rem;
    }

    .payment-items-list {
        margin: 80px auto 30px auto;        
    }

    .payment-items-list p{
        font-size: .9rem;
    }

    .payment-item {
        min-width: 120px;
        width: 120px;
    }

    .payment-wrapper {
        padding: 10px;
    }

    .payment-wrapper h1{
        font-size: 1.3rem;
    }
}
