.slider-wrapper{
    width: 1200px;
    margin: 80px auto;
}

.slider-heading-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.slider-heading{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    font-size: .8rem;
}

.slider-heading a{
    color: var(--main_color);
    text-decoration: none;
    font-size: .7rem;
    font-weight: 700;
    cursor: pointer;
}

.slider-heading a:hover{
    color: var(--main_color);
    text-decoration: underline;
}

.slider-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider-buttons .right-btn{
    border: solid 2px var(--light_border);
    border-radius: 5px;
    color: black;
    padding: 5px 15px;
    cursor: pointer;
}

.slider-buttons .right-btn:hover{
    border: solid 2px var(--main_color);
    color: var(--main_color);
}

.slider-buttons .left-btn{
    border: solid 2px var(--light_border);
    border-radius: 5px;
    color: black;
    padding: 5px 15px;
    cursor: pointer;
}

.slider-buttons .left-btn:hover{
    border: solid 2px var(--main_color);
    color: var(--main_color);
}

.slider-item {
    border: solid 1px var(--light_border);
    border-radius: 10px;
    overflow: hidden;
}

.slider-item:hover img {
    transform: scale(1.1);
    
}

.slide-image{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 350px;
}

.slide-image img{
    transition: .3s ease;
}

.slide-item-description{
    padding: 20px;
    flex: 1;
}

.slide-item-description h2{
    font-size: 1.1rem;
}

.slide-item-description .slide-item-info{
    font-size: .8rem;
    color: gray;
}

.slide-item-bottom-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.price{
    flex: .7;
    /* border: solid 1px; */
}

.weight{
    flex: .7;
    /* border: solid 1px; */
    display: flex;
    justify-content: end;
}

.manage-added-items{
    display: flex;
    align-items: center;
    flex: 1.2;
}

.add-button{
    flex: 1;
    /* border: solid 1px; */
}

.add-button button{
    width: 100%;
    border: solid 2px var(--main_color);
    border-radius: 5px;
    padding: 8px;
    color: var(--main_color);
    transition: .2s;
}

.add-button button:hover{
    background: var(--main_color);
    color: #fff;
    cursor: pointer;
}

.remove-button{
    flex: 1;
}

.remove-button button{
    width: 100%;
    border: solid 2px var(--main_color);
    border-radius: 5px;
    padding: 8px;
    color: var(--main_color);
    transition: .2s;
}

.remove-button button:hover{
    background: var(--main_color);
    color: #fff;
    cursor: pointer;
}

.item-qnt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.slide-item-bottom-line{
    padding: 50px 20px 20px 20px;
}