.slider-wrapper {
    width: 1200px;
    margin: 80px auto;
    /* border: solid 1px #d3d0d0; */
}

.slider-header {
    /* border: solid 1px red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.slider-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider-title a {
    color: var(--main_color);
    font-size: .7rem;
    font-weight: 700;
    cursor: pointer;
}

.slider-header-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.arrow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--light_border);
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.arrow-btn:hover {
    border: solid 2px var(--main_color);
    color: var(--main_color);
}

@media (max-width:1200px) {

    .slider-wrapper {
        width: 90vw;
    }
}

@media (max-width:900px) {

    .slider-wrapper {
        margin: 40px auto;
        width: 95vw;
    }

    .slider-header {
        padding: 5px 0;
    }

    .arrow-btn {
        padding: 0 5px;
    }

    .left-btn,
    .right-btn {
        transform: scale(.6);
    }

    .slider-title {
        font-size: .7rem;
    }

    .slider-title a {
        font-size: .5rem;
    }
}

@media (max-width:650px) {}

@media (max-width:480px) {}